* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

nav {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #002776;
    width: 100%;
    padding: 1em; 
    position: sticky;
    top: 0; 
    z-index: 1000; 
}

.logo{
    width: 20%;
    height: auto;
    max-width: 100%;
    cursor: pointer;
}
.options{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.buttonList{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
}
.menuButton{
    padding: 3px;
    margin: 1rem;
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    
}
.menuButton:hover{
    color: yellow;
}

.mainImage {
    flex: 0 0 100vw;
    width: 100vw;
    height: auto;
    max-width: 100%;
    flex-shrink: 0;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
}

.image-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    z-index: 100;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control.left {
    left: 10px;
}

.carousel-control.right {
    right: 10px;
}
.gameArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 2em;
}
.gameTable{
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 0 1rem;
}
.Title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}
.content{
    font-size: 20px;
}

#modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    height: auto;
    width: fit-content;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 5px solid #002776;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;

}
form{
    margin: 1rem;
}
#exit{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    cursor: pointer;
    color: #002776;
    background: none;
    border: none;
    padding: 5px;
}
button{
    cursor: pointer;
}

#modalImage{
    max-width: 60%;
}