* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

nav {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #002776;
    width: 100%;
    padding: 1em; 
    position: sticky;
    top: 0; 
    z-index: 1000; 
}

.logo{
    width: 20%;
    height: auto;
    max-width: 100%;
    cursor: pointer;
}
.password-container {
    position: relative;
}

.password-icon {
    cursor: pointer;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.forms{
    width: 50%;
    height: auto;
    padding: 3rem;
    text-align: center;
    border: 3px solid black;
}
.loginInput{
    width: 70%;
    height: 3em;
    margin: 1em;
    padding: 1em;
    border: none;
}
h1{
    margin-bottom: 1em;
}
#login-submit-btn {
    margin-top: 2em;
    width: 25%;
}
#login-submit-btn:hover{
    transform: scale(1.1);
    background-color: #0559ff;
}
button{
    border: none;
    background-color: #002776;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 1em;
}
#signupbtn{
    color: #002776;
    background: none;
}
#signupbtn:hover{
    transform: scale(1.1);
}
p{
    font-size: 18px;
}
#signup-submit-btn{
    margin-top: 2em;
    width: 35%;
}
#signup-submit-btn:hover{
    transform: scale(1.1);
    background-color: #0559ff;
}
#loginbtn{
    color: #002776;
    background: none;
}
#loginbtn:hover{
    transform: scale(1.1);
}